<%- include header%>
<div class="row" id=‘login’ style="margin-top:100px;">
<div class="col-md-3"></div>
<div class="col-md-6">

  <div class="panel panel-success">
    <div class="panel-body">
      <form class="form-horizontal" action="/login" method="post">
      <div class="form-group">
          <label for="inputPassword3" class="col-sm-4 control-label">my inviter link:</label>
          <div class="col-sm-8">
          <div class="input-group">
          <input type="text" class="form-control" value="<%= link %>" Readonly>
          <div class="input-group-btn">
            <button type="button" class="btn btn-primary" id="copy">copy clipboard</button>
          </div>
      </div>
            
          </div>
        </div>
      <input type="text" name='uid' class="form-control hidden" id="uid" hidden>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-4 control-label">email:</label>
          <div class="col-sm-8">
            <input type="text" name='email' class="form-control" id="email" placeholder="enter email" value="<%= email %>">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-4 control-label">phone:</label>
          <div class="col-sm-8">
            <input type="text" name='phone' class="form-control" id="phone" placeholder="enter phone" value="<%= phone %>">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-4 control-label">Okex username:</label>
          <div class="col-sm-8">
            <input type="text" name='okex_uname' class="form-control" id="okex_uname" placeholder="enter okex_uname" value="<%= okex_uname %>">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-4 control-label">my eth account:</label>
          <div class="col-sm-8">
            <input type="text" name='eth_account' class="form-control" id="eth_account" placeholder="enter eth_account" value="<%= eth_account %>">
          </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-8 col-sm-4">
              <button type="button" class="btn btn-success" id="update">update my info</button>
            </div>
        </div>
      </form>
    </div>
  </div>

</div>

</div>


  <%- include footer%>
    <script type="text/javascript">

      $('#update').on('click',function(){
        let email = $('#email').val();
        let phone = $('#phone').val();
        let okex_uname = $('#okex_uname').val();
        let eth_account = $('#eth_account').val();
        $.ajax({
          type: "GET",
          url: "/api/setuserinfo",
          data: {
            email:email,
            phone:phone,
            okex_uname:okex_uname,
            eth_account:eth_account
          },
          dataType: "json",
          success: function(data) {
            if( data.code == 200){
            alert(data.msg);
          }
        }
        });
      });
    </script>
